*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#display {
    width: 270px;
    height: 60px;
    margin: 10px;
    outline: 1px solid rgba(164, 164, 164, 0.3);
    border-radius: 5px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}
button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: white;
}

